<div class="realTimeContainer">

	<h1 class="realTimeTitle">Products</h1>
	<ul class="realTimeList">

		{{!-- Products in real time --}}

	</ul>
</div>


<script src="./socket.io/socket.io.js"></script>
<script src="/js/scripts.js"></script>